 <footer class="bg-dark pt-5 text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xl-2 py-3">
                        <h2 class="fw-bold h5 mb-4 text-primary text-uppercase">Как нас найти</h2>
                        <ul class="list-unstyled">
                            <li class="mb-3"> <a href="#" class="link-light">Минская обл.</a>
                            </li>
                            <li class="mb-3"> <a href="#" class="link-light">г. Марьина Горка</a>
                            </li>
                            <li class="mb-3"> <a href="#" class="link-light">ул. Новая Заря</a>
                            </li>
                            <li class="mb-3"> <a href="#" class="link-light">222827</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xl-2 py-3">
                        <h2 class="fw-bold h5 mb-4 text-primary text-uppercase">Как с нами связаться</h2>
                        <ul class="list-unstyled">
                            <li class="mb-3"> <a href="#" class="link-light">8 (01713) 56-3-32 (директор)</a>
                            </li>
                            <li class="mb-3"> <a href="#" class="link-light">8 (01713) 45-8-09 (приёмная)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl-4 py-3">
                        <h2 class="fw-bold h5 mb-4 text-primary text-uppercase">Регистрационный номер:&nbsp;</h2><a href="#" class="link-light"><u>691068629</u></a>
                    </div>
                </div>
                <div class="pb-3 pt-3 small">
</div>
            </div>
 </footer>