<a href="/">
    <h1 style="text-align: center">LOGO MCAS</h1>
</a>

<div style="text-align: right;">
    {% if request.user.is_authenticated %}
        <p>Добро пожаловать, {{ request.user }}</p>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
</div>

<div style="margin-bottom: 20px;display: flex; height: 35px; border: 1px solid black; ">

  <div style="width: 25%; border-right: 1px solid black;">
      <a href = '{% url "home" %}'>Главная страница</a>
  </div>

  <div style="width: 25%;border-right: 1px solid black;">
      <a href="{% url 'news' %}">Новости</a>
  </div>

  <div style="width: 25%;border-right: 1px solid black;">
    Музыкальная библиотека
  </div>

  <div style="width: 25%;">
      <a href="{% url 'user-profile' user.id %}">Личный кабинет</a>
  </div>

</div>
