{% load static %}

{% block content %}

{% if page == 'login' %}
<html lang="ru">
    <head> 
        <meta charset="UTF-8"> 
        <title>Авторизация</title>         
        <link rel="stylesheet" href="{% static 'styles/autorization.css' %}">
        <script src="{% static 'styles/scripts/autorization.js' %}"></script>
        <script>
            window.onload = function() {
  document.querySelector('.form').classList.add('show');
}
        </script>
    </head>     
    <body>
        <div class="login-page">
            <div class="form" id="login-form">
                <div class="form__title"> Авторизация </div>
                <a href="#" class="popup__close" onclick="history.back()">X</a> 
                <form class="login-form" method="post">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="Имя пользователя"/>
                    <input name="password" type="password" placeholder="Пароль"/>
                    <button>Вход</button>
                </form>
            </div>
        </div>
    </body>     
</html>
{% else %}
    <div>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Register">
        </form>
    </div>
{% endif %}

{% endblock %}
